@model List<FlashCard>

<div class="container">

    <table class='table table-striped'>
        <tr>
            <th>Front Text</th>
            <th>Back Text</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        @foreach (var flashCard in Model)
        {
            <tr>
                <td>@flashCard.FrontText</td>
                <td>@flashCard.BackText</td>
                <td>
                    <img src="@flashCard.ImageUrl" alt="Card Image" style="max-width: 80px; max-height: 80px;" />
                </td>
                <td>
                    Fyll inn Edit og Delete-knapper her
                </td>
            </tr>
        }
    </table>
</div>