@model CreateCardViewModel

<link rel="stylesheet" asp-href-include="~/css/createCard.css">

<h2 class="text-center">Make a FlashCard!</h2>

<div class="row justify-content-center">
    <div class="col-md-8 justify-content-center">
        <div class="flippable my-5 m-auto" onclick="clickSpinner()">
            <div class="flip-card-inner" id="flip-card-inner">
                <div class="flip-card-frontside">
                    <h3 id="FrontSpinText"></h3>
                    <div id="frontSidePreview">
                    </div>
                </div>
                <div class="flip-card-backside">
                    <h3 id="BackSpinText"></h3>
                    <div id="backSidePreview"></div>
                </div>
            </div>
        </div>

        <form asp-action="CreateCard">
            <div class="form-group">
                <label asp-for="flashCard.FrontText"></label><span class="text-danger">*</span>
                <input asp-for="flashCard.FrontText" class="form-control" id="FrontText" />
                <span asp-validation-for="flashCard.FrontText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="flashCard.BackText"></label><span class="text-danger">*</span>
                <input asp-for="flashCard.BackText" class="form-control" id="BackText" />
                <span asp-validation-for="flashCard.BackText" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="flashCard.ImageUrl" />
            <input type="hidden" asp-for="flashCard.CardsetId" value="@Model.csid" />
            <div class="d-flex g-4 mt-4 justify-content-between">
                <button type="submit" class="btn btn-primary">Save</button>
                <div>
                    <a asp-controller="FlashCard" asp-action="FlashCardTable" asp-route-id="@Model.csid" class="btn btn-secondary">Play this set!</a>
                    <a asp-controller="CardSet" asp-action="Details" asp-route-id="@Model.csid" class="btn btn-outline-secondary">Back to Cardset</a>
                </div>
            </div>
        </form>

        <div class="mt-5 m-auto">
            <h4 class="pb-1">Side by side view of both sides:</h4>
            <div class="rounded" style="display: flex; justify-content: space-evenly; align-items: center">
                <div class="flip-card-front m-3">
                    <h5 class="card-header text-center">Front of card</h5>
                    <div class="card-body">
                        <h3 class="card-title">
                            <div id="FrontPreview"></div>
                        </h3>
                    </div>
                </div>
                <div class="flip-card-back m-3">
                    <h5 class="card-header text-center">Back of card</h5>
                    <div class="card-body">
                        <h3 class="card-title">
                            <div id="BackPreview"></div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>let flipped = false;

        function clickSpinner() {
            if (flipped === false) {
                document.getElementById("flip-card-inner").style.transform = "rotateY(180deg)";
                flipped = true;
            } else {
                document.getElementById("flip-card-inner").style.transform = "rotateY(360deg)";
                flipped = false;
            }
        }

        function cardPreview() {
            let frontText = document.getElementById("FrontText");
            let backText = document.getElementById("BackText");

            frontText.addEventListener("input", function () {
                document.getElementById("FrontPreview").textContent = frontText.value;
                document.getElementById("FrontSpinText").textContent = frontText.value;
            });

            backText.addEventListener("input", function () {
                document.getElementById("BackPreview").textContent = backText.value;
                document.getElementById("BackSpinText").textContent = backText.value;
            });
        }

        cardPreview();</script>
