@model FlashCard

<h2>Make a FlashCard!</h2>
<div class="container bg-info rounded">
<form asp-action="CreateCard">
    <div class="form-group">
        <label asp-for="FrontText"></label><span class="text-danger">*</span>
        <input asp-for="FrontText" class="form-control"/>
        <span asp-validation-for="FrontText" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BackText"></label><span class="text-danger">*</span>
        <input asp-for="BackText" class="form-control"/>
        <span asp-validation-for="BackText" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control"/>
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
</form>
</div>

<div class="container pt-5 bg-light">
    <h2 class="pb-3">This is a preview</h2>
    <div class="rounded">
        <div class="card border-info mb-3" style="width:500px; height:300px">
            <div class="card-header">Korttittel? Tema? Hvem vet.</div>
            <div class="card-body">
                <h3 class="card-title">SPØRSMÅL</h3>
            </div>
        </div>
    </div>
</div>