@model List<FlashCard>

<body style="min-height: 92vh; display: flex; flex-direction: column">
<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px">List of Cards</h1>
</body>
<partial name="_CardTable" model="Model" />